---
import warisanKita from "../../assets/img/project/warisanKita.png"
import soraOfficial from "../../assets/img/project/soraOfficial.png"
import viewPoint from "../../assets/img/project/viewPoint.png"
import Blockster from "../../assets/img/project/blockster.png"
import Astr from "../../assets/img/tech/astro.png";
import Typescript from "../../assets/img/tech/ts.png";
import Tailwind from "../../assets/img/tech/tailwind.png";
import React from "../../assets/img/tech/react.png"
---
<section class="bg-black lg:mb-28">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl lg:py-16 lg:text-center text-left">
        <div class="flex flex-col lg:items-center lg:justify-center">
            <div class="relative text-white border-2 border-gray-800 text-center lg:w-40 mb-6 lg:text-2xl text-sm w-28 font-semibold lg:p-2 p-1">
                <span class="text-center font-bold">My Works!</span>
                <div>
                    <span class="absolute -top-1 -left-1 w-2 h-2 bg-[#32fb00]"></span>
                    <span class="absolute -top-1 -right-1 w-2 h-2 bg-[#32fb00]"></span>
                    <span class="absolute -bottom-1 -left-1 w-2 h-2 bg-[#32fb00]"></span>
                    <span class="absolute -bottom-1 -right-1 w-2 h-2 bg-[#32fb00]"></span>
                </div>
            </div>		
            <h1 class="mb-12 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
                Exploring the Tools <br><span class="text-[#32fb00]">Behind My Project</span>
            </h1>
            <div class="flex flex-col lg:gap-10 gap-5">
                <div class="bg-[#2a2a2a] text-white w-full h-full lg:p-5 p-4 lg:rounded-3xl rounded-2xl border-2 border-[#303030]">
                    <div class="lg:grid lg:grid-cols-2 gap-10">
                        <img src={warisanKita.src} alt="warisanKita" class="w-full h-full lg:rounded-2xl rounded-xl lg:mb-0 mb-5">
                        <div class="flex justify-center items-center lg:w-[450px] w-full">
                            <div class="justify-left w-full text-left">
                                <div class="flex flex-wrap gap-2 lg:mb-4 mb-4 items-center">
                                    <div class="text-black bg-[#32fb00] lg:font-bold font-extrabold rounded-full lg:text-lg text-xs lg:px-6 lg:py-2 px-5 py-2 text-center">
                                        Website
                                    </div>
                                    <div class="border border-white opacity-10 lg:h-8 h-8 items-center justify-center text-center"></div>
                                    <div class="flex flex-row gap-3 items-center">
                                        <img src={Astr.src} alt="Astro" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Typescript.src} alt="Astro" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Tailwind.src} alt="Astro" class="h-4 lg:h-5">
                                    </div>
                                </div>
                                <h1 class="mb-2 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
                                    Warisan Kita
                                </h1>         
                                <p class="mb-6 text-sm font-normal text-white opacity-40 lg:text-lg dark:text-gray-400">An innovative platform that incorporates artificial intelligence (AI) technology to digitize, preserve, and promote traditional arts and culture. With a focus on preserving cultural heritage</p>                   
                                <a href="https://warisankita.vercel.app" target="_blank">
                                    <button type="button" class="lg:px-4 lg:py-4 px-2 py-2 txt-base font-medium text-center inline-flex items-center text-white bg-transparent rounded-full border-2 border-[#303030] hover:bg-[#303030]">
                                        <svg class="lg:w-10 lg:h-10 w-9 h-9 text-white -rotate-[30deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                                        </svg>                                      
                                    </button>
                                </a>
                            </div>       
                        </div>
                    </div>                    
                </div>
                <div class="bg-[#2a2a2a] text-white w-full h-full lg:p-5 p-4 lg:rounded-3xl rounded-2xl border-2 border-[#303030]">
                    <div class="lg:grid lg:grid-cols-2 gap-10">
                        <img src={soraOfficial.src} alt="sora official" class="w-full h-full lg:rounded-2xl rounded-xl lg:mb-0 mb-5">
                        <div class="flex justify-center items-center lg:w-[450px] w-full">
                            <div class="justify-left w-full text-left">
                                <div class="flex flex-wrap gap-2 lg:mb-4 mb-4 items-center">
                                    <div class="text-black bg-[#32fb00] lg:font-bold font-extrabold rounded-full lg:text-lg text-xs lg:px-6 lg:py-2 px-5 py-2 text-center">
                                        Website
                                    </div>
                                    <div class="border border-white opacity-10 lg:h-8 h-8 items-center justify-center text-center"></div>
                                    <div class="flex flex-row gap-3 items-center">
                                        <img src={Astr.src} alt="Astro" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Typescript.src} alt="Astro" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Tailwind.src} alt="Astro" class="h-4 lg:h-5">
                                    </div>
                                </div>
                                <h1 class="mb-2 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
                                    Sora Official   
                                </h1>         
                                <p class="mb-6 text-sm font-normal text-white opacity-40 lg:text-lg dark:text-gray-400">An innovative platform that incorporates artificial intelligence (AI) technology to digitize, preserve, and promote traditional arts and culture. With a focus on preserving cultural heritage</p>                   
                                <a href="https://soraofficial.vercel.app" target="_blank">
                                    <button type="button" class="lg:px-4 lg:py-4 px-2 py-2 txt-base font-medium text-center inline-flex items-center text-white bg-transparent rounded-full border-2 border-[#303030] hover:bg-[#303030]">
                                        <svg class="lg:w-10 lg:h-10 w-9 h-9 text-white -rotate-[30deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                                        </svg>                                      
                                    </button>
                                </a>
                            </div>       
                        </div>
                    </div>                    
                </div>
                <div class="bg-[#2a2a2a] text-white w-full h-full lg:p-5 p-4 lg:rounded-3xl rounded-2xl border-2 border-[#303030]">
                    <div class="lg:grid lg:grid-cols-2 gap-10">
                        <img src={viewPoint.src} alt="view point" class="w-full h-full lg:rounded-2xl rounded-xl lg:mb-0 mb-5">
                        <div class="flex justify-center items-center lg:w-[450px] w-full">
                            <div class="justify-left w-full text-left">
                                <div class="flex flex-wrap gap-2 lg:mb-4 mb-4 items-center">
                                    <div class="text-black bg-[#32fb00] lg:font-bold font-extrabold rounded-full lg:text-lg text-xs lg:px-6 lg:py-2 px-5 py-2 text-center">
                                        Website
                                    </div>
                                    <div class="border border-white opacity-10 lg:h-8 h-8 items-center justify-center text-center"></div>
                                    <div class="flex flex-row gap-3 items-center">
                                        <img src={React.src} alt="Astro" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Typescript.src} alt="Astro" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Tailwind.src} alt="Astro" class="h-4 lg:h-5">
                                    </div>
                                </div>
                                <h1 class="mb-2 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
                                    View Point
                                </h1>         
                                <p class="mb-6 text-sm font-normal text-white opacity-40 lg:text-lg dark:text-gray-400">An innovative platform that incorporates artificial intelligence (AI) technology to digitize, preserve, and promote traditional arts and culture. With a focus on preserving cultural heritage</p>                   
                                <a href="https://view-point-dun.vercel.app" target="_blank">
                                    <button type="button" class="lg:px-4 lg:py-4 px-2 py-2 txt-base font-medium text-center inline-flex items-center text-white bg-transparent rounded-full border-2 border-[#303030] hover:bg-[#303030]">
                                        <svg class="lg:w-10 lg:h-10 w-9 h-9 text-white -rotate-[30deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                                        </svg>                                      
                                    </button>
                                </a>
                            </div>       
                        </div>
                    </div>                    
                </div>
                <div class="bg-[#2a2a2a] text-white w-full h-full lg:p-5 p-4 lg:rounded-3xl rounded-2xl border-2 border-[#303030]">
                    <div class="lg:grid lg:grid-cols-2 gap-10">
                        <img src={Blockster.src} alt="blockster" class="w-full h-full lg:rounded-2xl rounded-xl lg:mb-0 mb-5">
                        <div class="flex justify-center items-center lg:w-[450px] w-full">
                            <div class="justify-left w-full text-left">
                                <div class="flex flex-wrap gap-2 lg:mb-4 mb-4 items-center">
                                    <div class="text-black bg-[#32fb00] lg:font-bold font-extrabold rounded-full lg:text-lg text-xs lg:px-6 lg:py-2 px-5 py-2 text-center">
                                        Website
                                    </div>
                                    <div class="border border-white opacity-10 lg:h-8 h-8 items-center justify-center text-center"></div>
                                    <div class="flex flex-row gap-3 items-center">
                                        <img src={React.src} alt="React" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Typescript.src} alt="Astro" class="w-6 h-6 lg:h-8 lg:w-8">
                                        <img src={Tailwind.src} alt="Astro" class="h-4 lg:h-5">
                                    </div>
                                </div>
                                <h1 class="mb-2 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
                                    Blockster  
                                </h1>         
                                <p class="mb-6 text-sm font-normal text-white opacity-40 lg:text-lg dark:text-gray-400">An innovative platform that incorporates artificial intelligence (AI) technology to digitize, preserve, and promote traditional arts and culture. With a focus on preserving cultural heritage</p>                   
                                <a href="https://blockster.vercel.app" target="_blank">
                                    <button type="button" class="lg:px-4 lg:py-4 px-2 py-2 txt-base font-medium text-center inline-flex items-center text-white bg-transparent rounded-full border-2 border-[#303030] hover:bg-[#303030]">
                                        <svg class="lg:w-10 lg:h-10 w-9 h-9 text-white -rotate-[30deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                                        </svg>                                      
                                    </button>
                                </a>
                            </div>       
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>