---
import React from "../../assets/img/tech/react.png"
import Astr from "../../assets/img/tech/astro.png"
import Typescript from "../../assets/img/tech/ts.png"
import Javascript from "../../assets/img/tech/js.png"
import Tailwind from "../../assets/img/tech/tailwind.png"
---
<section class="bg-black flex items-right justify-right">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl lg:py-16 text-right">		
        <div class="flex justify-end">
            <div class="relative text-white border-2 border-gray-800 text-center lg:w-56 mb-6 lg:text-2xl text-sm w-36 font-semibold lg:p-2 p-1">
                <span class="font-bold">The Goods I Use</span>
                <div>
                    <span class="absolute -top-1 -left-1 w-2 h-2 bg-[#32fb00]"></span>
                    <span class="absolute -top-1 -right-1 w-2 h-2 bg-[#32fb00]"></span>
                    <span class="absolute -bottom-1 -left-1 w-2 h-2 bg-[#32fb00]"></span>
                    <span class="absolute -bottom-1 -right-1 w-2 h-2 bg-[#32fb00]"></span>
                </div>
            </div>
        </div>        
        <h1 class="mb-16 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            Exploring the Tools <br><span class="text-[#32fb00]">Behind My Project</span>
        </h1>
        <div class="grid grid-cols-1 lg:grid lg:grid-cols-3 md:grid md:grid-cols-2 items-center justify-center w-full lg:gap-10 gap-5">
            <div class="relative w-full">
                <div class="absolute flex items-center justify-between p-4 lg:w-96 w-full bg-gray-800 bg-opacity-60 rounded-2xl">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[22px]" src={React.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">React</p>
                    </div>
                </div>    
                <div class="relative flex items-center justify-between p-4 lg:w-96  w-full bg-[#121212] hover:rotate-6 border border-[#303030] rounded-2xl hover:shadow-xl transition-transform duration-300 ease-in-out">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[18px]" src={React.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">React</p>
                    </div>
                    <div id="percentage85" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar85" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>      
            </div>  
            <div class="relative w-full">
                <div class="absolute flex items-center justify-between p-4 lg:w-96  w-full bg-gray-800 bg-opacity-60 rounded-2xl">                
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[16px]" src={Astr.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Visual Studio Code</p>
                    </div>
                    <!-- <div id="percentage98" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar98" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div> -->
                </div>    
                <div class="relative flex items-center justify-between p-4 lg:w-96  w-full bg-[#121212] hover:-rotate-6 border border-[#303030] rounded-2xl hover:shadow-xl transition-transform duration-300 ease-in-out">                
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[16px]" src={Astr.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Astro</p>
                    </div>
                    <div id="percentage98" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar98" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="relative w-full">
                <div class="absolute flex items-center justify-between p-4 lg:w-96  w-full bg-gray-800 bg-opacity-60 rounded-2xl">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[px]" src={Typescript.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Typescript</p>
                    </div>
                    <!-- <div id="percentage98" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar98" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div> -->
                </div>    
                <div class="relative flex items-center justify-between p-4 lg:w-96  w-full bg-[#121212] hover:rotate-6 border border-[#303030] rounded-2xl hover:shadow-xl transition-transform duration-300 ease-in-out">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[18px]" src={Typescript.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Typescript</p>
                    </div>
                    <div id="percentage50" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar50" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>          
            </div>  
            <div class="relative w-full">
                <div class="absolute flex items-center justify-between p-4 lg:w-96  w-full bg-gray-800 bg-opacity-60 rounded-2xl">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[px]" src={Javascript.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Javascript</p>
                    </div>
                    <!-- <div id="percentage98" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar98" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div> -->
                </div>    
                <div class="relative flex items-center justify-between p-4 lg:w-96  w-full bg-[#121212] hover:rotate-6 border border-[#303030] rounded-2xl hover:shadow-xl transition-transform duration-300 ease-in-out">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[18px]" src={Javascript.src} alt="rounded-xl">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Javascript</p>
                    </div>
                    <div id="percentage50-2" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar50-2" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>          
            </div>  
            <div class="relative w-full">
                <div class="absolute flex items-center justify-between p-4 lg:w-96  w-full bg-gray-800 bg-opacity-60 rounded-2xl">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[18px]" src={Tailwind.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Tailwind</p>
                    </div>
                    <!-- <div id="percentage90" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar90" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div> -->
                </div>    
                <div class="relative flex items-center justify-between p-4 lg:w-96  w-full bg-[#121212] hover:rotate-6 border border-[#303030] rounded-2xl hover:shadow-xl transition-transform duration-300 ease-in-out">
                    <div class="flex items-center space-x-4 mb-12">
                        <div class="bg-[#2a2a2a] w-16 h-16 flex items-center justify-center rounded-full">
                            <img class="p-[16px]" src={Tailwind.src} alt="Rounded avatar">
                        </div>                  
                        <p class="text-white text-xl font-extrabold">Tailwind</p>
                    </div>
                    <div id="percentage90" class="absolute top-4 right-4 bg-[#32fb00] text-black text-sm font-bold px-2 py-1 rounded-full">
                        0%
                    </div>
                    <div class="absolute bottom-4 left-0 w-full px-4">
                        <div class="w-full bg-gray-700 h-1 rounded-full overflow-hidden">
                            <div id="progressBar90" class="bg-[#32fb00] h-1 rounded-full transition-all duration-1000 ease-out" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>          
            </div>  
        </div>          
    </div>
</section> 
